*.out
*.pyc
all_authors.json
all_papers.json
ner2paper.json
url_patterns.json
chromedriver*
download/
csv/
output/
scierc_data/
*scierc_models/
s2orc_for_pure/
s2orc_for_output/
s2orc_output/
s2orc_temp/
s2orc-doc2json/output_dir/
headers.json
seed_titles.json